* {
  text-align: center;
}
.center {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav a {
  color: red;
  font-size: 35px;
  margin: 5px;
}

.nav a:hover{
background-color:red;
color: white;
}

.header-container {
  color: red;
  font-weight: 600;
  
}

.header {
  text-align: center;
} 
.header img {
  height:125px;
  width: 125px;
  margin: 25px;
}

.header h1 {
  font-size: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: red;
  width: 100%;
  text-align: center;
  color: white;
}

.card-index {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}


.selected-dog {
  height: 25vh;
}

