.header-container {
  color: red;
  font-weight: 600;
  
}

 .header {
  text-align: center;
} 
.header img {
  height:125px;
  width: 125px;
  margin: 25px;
}

.header h1 {
  font-size: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: red;
  width: 100%;
  text-align: center;
  color: white;
}
